<div ng-controller="chatAreaController">
<div id="username"><span ng-if="username!=''">שלום </span>{{username}}</div>
<div id="usersListHeader"><span ng-if="username!=''" dir="rtl">משתמשים מחוברים</span></div>
<hr>
<div id="usersList" dir="rtl">
    <div data-ng-repeat="user in users track by $index">{{user}}<br/></div>
</div>
<hr>
<div id="chatArea" dir="rtl" scroll-bottom="messages">
    <div data-ng-repeat="message in messages track by $index"><b>{{message.uname}}:</b>{{message.message}}<br/></div>
</div>
<div id="chatInput" dir="rtl">כתוב הודעה:
<input type="text" id="chatBox" ng-model="chatInput" ng-keyup="$event.keyCode == 13 ? sendMessage() : null" >
<button id="chatButton" ng-click="sendMessage()">שלח</button></div>
</div>