<custom-modal name="wordGuessModal1"></custom-modal>
<custom-modal name="wordGuessModal2"></custom-modal>

<div ng-controller="wordGuessController" class="wordGuess">
    <div class="wordGuessMessage" ng-if="gameState.waiting==true">
        ממתין לשחקן נוסף
    </div>
    <div ng-if="gameState.started==true">
        <center>
            <word-guess-area game-area="gameAreas[0]" user="true"></word-guess-area>
            <word-guess-area game-area="gameAreas[1]"></word-guess-area>
        </center>
    </div>
</div>